@import 'tailwindcss';
@plugin "tailwindcss-animate";

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(224, 71%, 4%);
  --muted: hsl(220, 14%, 96%);
  --muted-foreground: hsl(215.4, 16.3%, 46.9%);
  --accent: hsl(220, 13%, 91%);
  --accent-foreground: hsl(224, 71%, 4%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(224, 71%, 4%);
  --border: hsl(216, 15%, 57%);
  --input: hsl(216, 15%, 57%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(224, 71%, 4%);
  --primary: hsl(222.2, 47.4%, 11.2%);
  --primary-foreground: hsl(210, 40%, 98%);
  --secondary: hsl(210, 40%, 96.1%);
  --secondary-foreground: hsl(222.2, 47.4%, 11.2%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(210, 40%, 98%);
  --ring: hsl(216, 15%, 57%);
  --font-family: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(224 71% 4%);
    --foreground: hsl(213 31% 91%);
    --muted: hsl(223 47% 11%);
    --muted-foreground: hsl(215.4 16.3% 56.9%);
    --accent: hsl(216 34% 17%);
    --accent-foreground: hsl(210 40% 98%);
    --popover: hsl(224 71% 4%);
    --popover-foreground: hsl(215 20.2% 65.1%);
    --border: hsl(216 34% 17%);
    --input: hsl(216 34% 17%);
    --card: hsl(224 71% 4%);
    --card-foreground: hsl(213 31% 91%);
    --primary: hsl(210 40% 98%);
    --primary-foreground: hsl(222.2 47.4% 1.2%);
    --secondary: hsl(222.2 47.4% 11.2%);
    --secondary-foreground: hsl(210 40% 98%);
    --destructive: hsl(0 63% 31%);
    --destructive-foreground: hsl(210 40% 98%);
    --ring: hsl(216 34% 17%);
    --font-family: var(--font-sans);

    color-scheme: dark;
  }
}

@theme {
  /* Design System */
  --color-ds-neutral-0: hsl(0, 0%, 100%);
  --color-ds-neutral-50: hsl(216, 33%, 97%);
  --color-ds-neutral-100: hsl(216, 26%, 96%);
  --color-ds-neutral-200: hsl(216, 19%, 90%);
  --color-ds-neutral-300: hsl(219, 15%, 82%);
  --color-ds-neutral-400: hsl(220, 11%, 64%);
  --color-ds-neutral-500: hsl(221, 8%, 48%);
  --color-ds-neutral-600: hsl(222, 11%, 36%);
  --color-ds-neutral-700: hsl(221, 16%, 20%);
  --color-ds-neutral-800: hsl(231, 16%, 16%);
  --color-ds-neutral-900: hsl(230, 19%, 12%);
  --color-ds-neutral-950: hsl(222, 32%, 8%);
  --color-ds-blue-50: hsl(222, 100%, 96%);
  --color-ds-blue-500: hsl(228, 100%, 60%);
  --color-ds-blue-700: hsl(228, 70%, 48%);
  --color-ds-green-100: hsl(154, 84%, 90%);
  --color-ds-green-500: hsl(148, 71%, 44%);
  --color-ds-red-100: hsl(356, 100%, 92%);
  --color-ds-red-500: hsl(355, 96%, 60%);

  /* Fonts */
  --font-serif: var(--font-merriweather-serif);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Shadcn UI */
  --radius: 0.5rem;
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);

  --font-family-poppins: var(--font-poppins);
  --font-family-inter: var(--font-inter);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }

    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }

    to {
      height: '0';
    }
  }
}
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}
